
<div class="wrap ">
	<div class="section sTop">
		<div class="top-container">
    	
            <div class="container">
                
                <div class="large-logo">
                    <a href="#"><img src="img/logo-large.png" alt="logo" /></a>
                </div>
                
                <div class="vticker">
                    <ul>
                        <li>深圳市高中生模拟联合国大会</li>
                        <li>SZMUNC 2017</li>
                    </ul>
                </div>
                
                <!--<a href="#sTop" class="click-down"><i class="fa fa-chevron-circle-down"></i></a>-->
              <!--<div class="" >  
                <ul class="nav nav-pills nav-justified">
                  <li class="active"><a href="#s1"><i class="fa fa-users"></i>会议简介</a></li>
                  <li><a href="/news/index.html"><i class="fa fa-comment"></i>新闻直通车</a></li>
                  <li><a href="#s2"><i class="fa fa-cogs"></i>资料下载</a></li>
                </ul>
              </div> --> 
                
            </div>
            
        </div><!-- /top-container -->
        
	</div>

	<div class="subMenu" >
    	<div class="container">
        	<div class="row">
            	<div class="col-md-2 th-logo">
                	<a href="#sTop">
                    	<img src="img/logo.png" alt="logo" />
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="inner pull-right">
                        <% Object.keys(theme.menu).forEach(function(key) { %>
                        <a href="<%=theme.menu[key]%>" class="subNavBtn"><%=key%></a>
                         <% }); %>
                    </div>
            	</div>
            </div><!-- row -->
        </div>
	</div>
	<div class="section s1">
		<div class="inner ">
			<div class="about-artical">
            	<h2>新闻以及会议详情</h2>
                <p>详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                
                
                <div  class="panel-title">
                    <%-partial('partials/recent-posts')%>
                    <%-partial('partials/pagination')%>
                </div>

                <!--<div id="social-contect" class="social-contect">
                	<a href="#" class="tooltip-hide" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="tooltip-hide" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="tooltip-hide" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Dribbble"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="tooltip-hide" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="tooltip-hide" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Google plus"><i class="fa fa-google-plus"></i></a>
                </div>-->
            </div><!-- /about-artical -->
		</div>
        
        <div class="about-f">
        	
            <div class="container">
        	
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="about-us-f">
                            <h3>会议介绍</h3>
                            <p>详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                            <p>填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    	<div class="about-us-f">
                        		<h3>关会议日程</h3>
                                
                                <div class="panel-group" id="accordion">
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href=".collapseOne">
                                          填充
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="" class="collapseOne panel-collapse collapse in">
                                      <div class="panel-body">
                                        填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href=".collapseTwo">
                                          填充
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="" class="collapseTwo panel-collapse collapse">
                                      <div class="panel-body">
                                        填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充
                                      </div>
                                    </div>
                                  </div>
                                  <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href=".collapseThree">
                                          填充
                                        </a>
                                      </h4>
                                    </div>
                                    <div id="" class="collapseThree panel-collapse collapse">
                                      <div class="panel-body">
                                        填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            
                        </div><!-- /.about-us-f -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    	<div class="about-us-f">
                        		<h3>会议信息</h3>
                        
                        		<span class="sr-only">数据 <span class="pull-right">40%</span></span>
                        		<div class="progress top100">
                                  <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                  </div>
                                </div>
                                
                                <span class="sr-only">数据 <span class="pull-right">20%</span></span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                  </div>
                                </div>
                                <span class="sr-only">数据 <span class="pull-right">60%</span></span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-pink" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                  </div>
                                </div>
                        </div>
                    </div>
                </div>
            
            </div><!-- /container -->
            
        </div><!-- /about-f -->
        
	</div>

	<div class="section s2">
		<div class="inner">
				<div class="container">
                
                	<div class="services">
                    	
                        <div class="services-tops">
                        	
                            <h2>服务与信息</h2>
                            
                            <p>填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充 </p>
                        	
                        </div><!-- /services-tops -->
                        
                        <div class="row">
                        	
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            	<div class="services-box">
                                	<i class="fa fa-cog"></i>
                                    <h6>联系我们</h6>
                                    
                                    <p>填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充</p>
                                    
                                </div><!-- /services-box -->
                            </div>
                            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            	<div class="services-box">
                                	<i class="fa fa-coffee"></i>
                                    <h6>BUG反馈</h6>
                                    
                                    <p>填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充</p>
                                    
                                </div><!-- /services-box -->
                            </div>
                            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            	<div class="services-box">
                                	<i class="fa fa-comment-o"></i>
                                    <h6>关于我们</h6>
                                    
                                    <p>填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充填充 </p>
                                </div><!-- /services-box -->
                            </div>
                        
                        </div>
                        
                    </div><!-- /services -->
                
                </div>
		</div>
	</div>
    	</div>
    </div>
    
	
</div>